<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2491/2491929.png" type="image/x-icon" />
  <title>WanderPokhara</title>
  <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
  <div class=" g-opacity-50">
    <nav class=" bg-slate-300 p-3 text-black font-semibold flex justify-between items-center">
      <h2 class="text-xl font-semibold p-2"><a></a>WanderPokhara</h2>
      <ul class="flex items-center space-x-4">
        <li><a href="/" class="hover:underline">Home</a></li>
        <div class="relative inline-block">
          <button class=" text-white py-4 px-6 text-sm border-none">Categories</button>
          <div class="absolute hidden bg-gray-200 min-w-[160px] shadow-md z-10">
            <a href="/category/unexplored"
              class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Unexplored</a>
            <a href="category/historical"
              class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Historical</a>
            <a href="category/cultural" class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Cultural</a>
          </div>
        </div>
        <li><a href="/reviews" class="hover:underline">Review</a></li>
      </ul>
    </nav>

    <h1 class="text-4xl mt-20 font-bold text-center  inset-x-0 top-4 z-10">
      Welcome to Wander<%= title %>
        <p class="text-lg text-center animate-pulse">
          Discover the beauty of <%= title%>.
        </p>
    </h1>

    <img src="https://www.trekkingtrail.com/uploads/img/dhampus-sarangkot-luxury-trek.jpg"
      alt="dhampus sarangkot luxury trek" class="w-full " />
  </div>
  <script>
    document.querySelector('.relative').addEventListener('mouseenter', function () {
      this.querySelector('.absolute').classList.remove('hidden');
    });
    document.querySelector('.relative').addEventListener('mouseleave', function () {
      this.querySelector('.absolute').classList.add('hidden');
    });
  </script>
</body>

</html>