<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/2491/2491929.png"
      type="image/x-icon"
    />
    <title>Explore Pokhara</title>
    <link href="/styles/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="relative g-opacity-50">
      <h1
        class="text-4xl font-bold text-white text-center mt-10 absolute inset-x-0 top-4 z-10"
      >
        Welcome to Explore <%= title %>
        <p class="text-lg text-center text-white">
          Discover the beauty of <%= title%>.
        </p>
      </h1>

      <img
        src="https://www.trekkingtrail.com/uploads/img/dhampus-sarangkot-luxury-trek.jpg"
        alt="dhampus sarangkot luxury trek"
      />
    </div>

    <nav
      class="bg-green-600 p-2 text-white font-semibold flex justify-between items-center"
    >
      <h2 class="text-2xl font-semibold p-4">Explore Pokhara</h2>
      <ul class="flex items-center space-x-4">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/login" class="hover:underline">Login</a></li>
        <li><a href="/about" class="hover:underline">About</a></li>

          </ul>
        </li>
      </ul>
    </nav>

    <div class="container "  >
<h2  class ="text-center">Gallery</h2>

     <!-- First Section: Image Left, Text Right -->
     <div class="flex flex-col md:flex-row items-center md:items-start space-y-6 md:space-y-0 md:space-x-6">
      <div class="flex-shrink-0 md:w-1/2">
        <img
          src="https://saarang.com.np/wp-content/uploads/2023/08/Tal-Barahi-Temple-img.jpg"
          alt="Tal Barahi Temple"
          class="w-full h-auto rounded-lg shadow-lg"
        />
      </div>

      <div class="md:w-1/2 text-center md:text-left">
        <p class="text-lg text-gray-700">
          Tal Barahi Temple is an iconic landmark located in Pokhara, Nepal. It is situated on an island in Phewa Lake and is known for its unique two-story pagoda style architecture.
        </p>
      </div>
    </div>


    <div class="flex flex-col md:flex-row-reverse items-center md:items-start space-y-6 md:space-y-0 md:space-x-6">
      <div class="flex-shrink-0 md:w-1/2">
        <img
          src=" https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Bindabasini_temple_pokhara.JPG/1920px-Bindabasini_temple_pokhara.JPG"
          alt="Sarangkot Trek"
          class="w-full h-auto rounded-lg shadow-lg"
        />
      </div>

      <div class="md:w-1/2 text-center md:text-left">
        <p class="text-lg text-gray-700">
          The Sarangkot trek is a beautiful short hike offering panoramic views of the Annapurna mountain range and the Pokhara Valley.
        </p>
      </div>
    </div>



</div>

  

  </body>
</html>
