<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore Pokhara</title>
  <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
  <h1 class="text-4xl font-bold text-center mt-10">Welcome to Explore <%= title%>
  </h1>
  <p class="text-lg text-center text-gray-700">Discover the beauty of <%= title%>.</p>

</body>

</html>