<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2491/2491929.png" type="image/x-icon">
  <title>Explore Pokhara</title>
  <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
  <nav class="bg-green-600 p-2 text-white font-semibold flex justify-between text-center items-center ">
    <h2>Explore Pokhara</h2>
    <ul class="flex justify-around space-x-4">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/about">About</a>
    </ul>
  </nav>
  <h1 class="text-4xl font-bold  text-green-500 text-center mt-10 ">Welcome to Explore <%= title%>
  </h1>
  <p class="text-lg  text-center text-gray-700">Discover the beauty of <%= title%>.</p>
  <img src="https://travelumpire.com/wp-content/uploads/2022/04/things-to-do-in-Pokhara.jpg" alt="Pokhara"
    class="w-full h-1/2">
</body>

</html>